@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: 184 169 201; /* #b8a9c9 */
    --color-primary-dark: 166 155 196; /* #a69bc4 */
    --color-primary-light: 214 199 231; /* #d6c7e7 */

    --color-secondary: 136 192 208; /* #88c0d0 */
    --color-secondary-dark: 118 178 203; /* #76b2cb */
    --color-secondary-light: 166 222 238; /* #a6deee */
  }
}

@layer components {
  body {
    @apply text-333333;
    @apply font-sans
  }
  h1 {
    @apply text-4xl font-semibold;
  }
}
