@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: 51 102 51; /* #336633 */
    --color-primary-dark: 38 76 38; /* #264c26 */
    --color-primary-light: 64 128 64; /* #408040 */
    --color-secondary: 153 204 51; /* #99CC33 */
    --color-secondary-dark: 102 153 0; /* #669900 */
    --color-secondary-light: 187 224 114; /* #BBE072 */
    --color-tertiary: 245 162 89; /* #F3E183 */
    --color-tertiary-dark: 148 114 84; /* #947254 */
  }
}

@layer components {
  body {
    @apply text-g949494;
  }
  h1 {
    @apply text-4xl font-semibold;
  }
}
